@model CozySmart.ViewModels.DetailsViewModel

<div class="panel panel-info">
    <div class="panel-heading">
        @Html.DisplayNameFor(m => m.Accommodation.Description)
    </div>

    <div class="panel-body">
        @Html.DisplayFor(m => m.Accommodation.Description)
    </div>
</div>
