@model IEnumerable<CozySmart.Models.Accommodation>

@{
    ViewBag.Title = "Accommodations";
}

<h2>Accommodations</h2>
<p>
    @Html.ActionLink("Add a new Accommodation", "New", "Accommodations")
</p>

@if (!Model.Any())
{
    <p>There are not any accommodation yet.</p>
}
else
{
    <div class="row">
        @foreach (var accommodation in Model)
        {
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="https://scontent.fath7-1.fna.fbcdn.net/v/t1.0-9/53767699_1734720283349886_2054175530739040256_o.jpg?_nc_cat=100&_nc_ht=scontent.fath7-1.fna&oh=c58b14040ce9555e0727c2e30b2a8479&oe=5D75CCA6" class="img-thumbnail" alt="Cinque Terre">
                        <h2 class="panel-title text-center">@accommodation.Title</h2>
                    </div>
                    <div class="panel-body text-center">
                        Location: @accommodation.Location <br/>
                        Price: @accommodation.Price
                    </div>
                    <div class="panel-footer text-center">
                        <a href="~/Accommodations/Details/@accommodation.Id" class=" = btn btn-success" role="button">Details</a>
                        <a href="~/Bookings/Create/@accommodation.Id" class=" = btn btn-success" role="button">Book</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
